/* General */
body {
    padding: 50px;
    background-color: #66CCFF;
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
}

#root {
    display: flex;
    justify-content: center;
}

h1 {
    color: darkblue;
}

/* Users */
.users-main input {
    padding: 10px;
    font-size: 15px;
    border: 2px solid #fff;
}

.users-main button {
    padding: 10px;
    font-size: 15px;
    margin: 10px 0 10px 10px;
    background-color: #0066FF;
    color: #fff;
    border: 2px solid #0066FF;
    transition: all .2s;
}

.users-main button:hover {
    background-color: #003399;
    border-color: #003399;
}

/* User's list */
.the-list {
    list-style: none;
    padding-left: 0;
    width: 260px;
}

.the-list li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    list-style: none;
    transition: all .2s;
}

.the-list li:hover {
    background-color: crimson;
}

.users-main input.error {
    border-color: red;
}
