@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,300i,400,400i,600,600i,700,700i,800,800i");
/* General */
html {
  font: 400 10px/1.3 'Nunito', arial;
  text-align: left;
  color: #505151;
}

#page {
  color: #505151;
  overflow: hidden;
  background: #dbdbdb;
}

#grey-mask,
#grey-mask--end {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 110;
  pointer-events: none;
}

#grey-mask--end {
  top: calc( 100% - 65px);
  right: auto;
  left: 0;
}

.arrow {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 170px;
}

.arrow-2 {
  left: 64px;
  top: 220px;
}

.arrow-3 {
  left: 19px;
  top: 320px;
}

.arrow-4 {
  top: 565px;
}

.arrow-6 {
  left: auto;
  right: -100px;
  top: -90px;
  z-index: 2;
}

.back-left-100 {
  position: relative;
  left: -100px;
}

.el-top-layer {
  position: relative;
  z-index: 120;
}

.content__title {
  margin: 16px 0;
  font-size: 3rem;
  font-weight: 400;
}

.content__title.small {
  font-size: 2.3rem;
}

.content__txt {
  font-size: 1.6rem;
  line-height: 2;
}

.move-to-top {
  margin: -130px 0 95px -30px;
  width: 45%;
  max-width: 45%;
}

.wow {
  transition: all .4s ease;
}

.wow-left-60 {
  transform: translateX(-60px);
  opacity: 0;
}

.wow-left-60.wow-end {
  opacity: 1;
  transform: translateX(0);
}

.wow-right-60 {
  transform: translateX(60px);
  opacity: 0;
}

.wow-right-60.wow-end {
  opacity: 1;
  transform: translateX(0);
}

.wow-bottom-30 {
  transform: translateY(30px);
  opacity: 0;
}

.wow-bottom-30.wow-end {
  opacity: 1;
  transform: translateY(0);
}

.hover-effect {
  position: relative;
}

.hover-effect::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #ec3c57;
  transition: all 0s;
  transform: scale(0);
  pointer-events: none;
}

.hover-effect:hover::after, .hover-effect:active::after, .hover-effect:focus::after {
  transition: all .3s;
  transform: scale(1.3);
  opacity: 0;
}

/* Nav */
.main-nav {
  padding: 20px 15px 20px 20px;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 68px;
}

.main-nav a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: color .3s;
  display: inline-block;
  margin: 0 25px;
}

.main-nav a:hover, .main-nav a:active, .main-nav a.active {
  color: #ec3c57;
  text-decoration: none;
}

.main-nav .link--decor2:hover, .main-nav .link--decor2:active, .main-nav .link--decor2.active {
  color: #fff;
  text-decoration: none;
}

.main-nav [class^='link--decor'] {
  margin: 0 8px;
}

.main-nav__link--home img {
  width: 80px;
}

.main-nav--decor {
  width: 56%;
  left: auto;
  right: 0;
  text-align: right;
  height: auto;
}

.right-nav__bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

[class^='link--decor'] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 3;
  background: none;
  border: 0;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  padding: 0;
}

[class^='link--decor'] span,
[class^='link--decor'] svg {
  vertical-align: middle;
}

[class^='link--decor'] a {
  margin: 0;
  font-weight: 300;
  vertical-align: middle;
  color: #505151;
}

.link--decor1 {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: #505151;
  border-radius: 50%;
}

.svg-ico {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.svg-ico path {
  fill: #fff;
}

.link--decor2 {
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-weight: 400;
  letter-spacing: .8px;
  background: #ec3c57;
  padding: 0 40px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.link--decor2::before, .link--decor2::after {
  content: attr(data-txt);
  display: block;
  text-align: center;
  position: relative;
  transition: transform .2s ease;
}

.link--decor2:hover::before, .link--decor2:hover::after {
  transform: translateY(-46px);
}

.link--decor3 {
  padding: 6px 15px;
  transition: all .3s;
  border-radius: 9px;
}

.non-active-lang {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  margin-top: 9px;
  padding: 5px;
  z-index: 3;
}

.non-active-lang a {
  display: block;
  pointer-events: auto;
}

.non-active-lang {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  border-radius: 0 0 9px 9px;
}

.non-active-lang a {
  border-top: 1px solid #fff;
  padding: 4px 13px;
}

.lang-open .link--decor3 {
  background: rgba(255, 255, 255, 0.5);
}

.lang-open .non-active-lang {
  opacity: 1;
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.5);
}

.lang-open #more-ico {
  transform: rotate(180deg);
}

.mobile-nav {
  padding: 27px 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20000;
  display: none;
}

.mobile-nav path {
  transition: all .3s;
}

#mnav {
  border: 0;
  padding: 0;
  background: none;
  position: absolute;
  right: 23px;
  top: 23px;
}

#mnav svg {
  transition: all .2s;
}

#mnav:hover path, #mnav:focus path, #mnav:active path {
  fill: #ec3c57;
}

#mnav:active svg {
  transform: scale(0.9);
}

/* Header */
.header-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 5;
}

.header-content h1 {
  font-size: 7rem;
  font-weight: 200;
}

.header-content h2 {
  font-size: 3rem;
  font-weight: 200;
  margin: 22px 0 30px;
}

.header-content a {
  background: transparent;
  border: 3px solid #ec3c57;
  display: inline-block;
  color: #fff;
  font-size: 2.2rem;
  color: #fff;
  padding: 12px 70px;
  border-radius: 26px;
  letter-spacing: .8;
  transition: all .3s;
}

.header-content a:hover, .header-content a:active, .header-content a.active {
  text-decoration: none;
  color: #ec3c57;
  background: rgba(255, 255, 255, 0.7);
}

.black-mask {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.not-home .full-section {
  overflow: hidden;
}

.not-home .header-content {
  width: 430px;
  left: 6%;
  top: 40%;
  transform: translate(0, -50%);
  text-align: right;
  z-index: 10;
}

.not-home .header-content h1 {
  font-size: 3rem;
  font-weight: 600;
}

.not-home .header-content h2 {
  font-size: 1.6rem;
  line-height: 2;
}

.not-home .header-content a {
  background: #ec3c57;
  border: 0;
}

.not-home .header-content a:hover, .not-home .header-content a:active, .not-home .header-content a.active {
  text-decoration: none;
  color: #fff;
}

.not-home__decor {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  transform: translate(-50%);
  pointer-events: none;
}

.not-home .full-section__mask {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  z-index: 6;
}

.not-home .header-green-mask {
  position: absolute;
  left: 0;
  top: -330px;
  transform-origin: 0% 0%;
  transform: rotate(10deg);
  background: rgba(60, 217, 180, 0.5);
  mix-blend-mode: multiply;
  width: 59%;
  height: 148%;
  z-index: 3;
}

.contact-page .header-green-mask {
  background: rgba(92, 96, 255, 0.7);
}

.contact-page .not-home__decor {
  display: none;
}

.faq-page .header-green-mask {
  background: rgba(92, 96, 255, 0.7);
}

.full-section__socials {
  position: absolute;
  right: 115px;
  bottom: 50px;
  z-index: 111;
}

.full-section__socials a {
  display: block;
  margin-top: 35px;
}

.full-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.full-section__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.join .col-md-6 {
  padding-left: 40px;
  padding-right: 40px;
}

.join__container {
  padding: 58px 0;
  background: #5c60ff;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  position: relative;
}

.join__container h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 30px 0;
}

.join__container p {
  line-height: 2;
}

.join__cointainer-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #3cd9b4;
  transform: skew(-18deg);
}

.join__ico {
  width: 98px;
  height: 98px;
  margin: 15px auto;
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
}

.join__ico svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#join__ico-2 {
  transform: translate(calc( -50% - 5px), -50%);
}

.col-green .join__ico {
  border-color: #3cd9b4;
}

.col-green path {
  fill: #3cd9b4;
}

.col-green h2 {
  color: #3cd9b4;
}

.marketplace {
  padding: 58px 0;
  background: #5c60ff;
  color: #fff;
  position: relative;
}

.marketplace__content {
  padding-top: 40px;
}

.marketplace__container-content {
  text-align: right;
}

.why {
  position: relative;
  color: #fff;
}

.why img {
  max-width: 100%;
}

.why__container {
  height: 822px;
  background: url(../images/why-section.png) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 120;
  box-sizing: border-box;
  padding-top: 220px;
}

.why__cointainer-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5c60ff;
}

.register {
  padding: 58px 0;
  position: relative;
  margin-top: -100px;
  z-index: 125;
}

.register-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
  object-fit: contain;
  object-position: right;
  display: none;
}

.register-bg[data-tab-image='1'] {
  display: block;
}

.tab {
  font-size: 1.6rem;
}

.tab__nav {
  display: inline-block;
  font-weight: 300;
}

.tab__nav .tab-label {
  font-weight: 300;
}

.tab__nav[data-tab='1'] .tab-label {
  margin-right: 30px;
}

.tab__nav svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}

.tab__nav #tab__ico-1 {
  left: 42%;
}

.tab__nav path,
.tab__nav polygon,
.tab__nav rect {
  fill: #505151;
  transition: all .3s;
}

.tab__nav:hover, .tab__nav:active, .tab__nav.active {
  text-decoration: none;
  border-color: #ec3c57;
}

.tab__nav:hover path,
.tab__nav:hover polygon,
.tab__nav:hover rect, .tab__nav:active path,
.tab__nav:active polygon,
.tab__nav:active rect, .tab__nav.active path,
.tab__nav.active polygon,
.tab__nav.active rect {
  fill: #ec3c57;
}

.tab__nav:hover .tab-label, .tab__nav:active .tab-label, .tab__nav.active .tab-label {
  color: #ec3c57;
  border-color: #ec3c57;
}

.tab__nav:hover .tab-circle, .tab__nav:active .tab-circle, .tab__nav.active .tab-circle {
  border-color: #ec3c57;
}

.tab__nav .tab-label {
  color: #505151;
  transition: all .3s;
  font-weight: 600;
  display: inline-block;
}

.tab-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #505151;
  transition: all .3s;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
}

.tab__contents {
  overflow: hidden;
  text-align: right;
  margin: 40px 0;
  position: relative;
}

.tab__contents .link--decor2 {
  margin-top: 20px;
}

.tab__contents .link--decor2:hover {
  color: #fff;
  text-decoration: none;
}

.tab__content {
  display: none;
}

.tab__content.active {
  display: block;
}

.movies {
  padding: 58px 0;
  background: #5c60ff;
  color: #fff;
  font-size: 1.6rem;
  position: relative;
  z-index: 126;
}

.movies__gallery {
  margin: 55px 0;
}

.movies__gallery > div {
  padding: 0 20px;
}

.movies__gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movies__gallery-item {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.movies__gallery-item a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 62px;
  height: 62px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.play img {
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  object-fit: none;
  width: auto;
}

.movies__gallery-description {
  margin: 20px 0 10px;
  height: 51px;
  overflow: hidden;
}

.movies__gallery-icons {
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 20px;
}

.movies__gallery-icons path {
  fill: #3cd9b4;
}

.movies__gallery-icons span,
.movies__gallery-icons svg {
  display: inline-block;
  vertical-align: middle;
}

.movies__gallery-icons svg {
  margin-right: -10px;
}

.movies__gallery-icons .movies__gallery-name {
  margin-right: 10px;
}

.movies__gallery-name {
  text-transform: uppercase;
}

.brands {
  padding: 58px 0;
}

.brands__rotator {
  padding-top: 23px;
  overflow: hidden;
}

.brands__rotator > div {
  white-space: nowrap;
}

.brands__rotator img {
  max-width: 160px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .6;
  transition: all .3s;
  display: inline-block;
  margin: 0 25px;
}

.brands__rotator img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.contact {
  padding: 58px 0;
  text-align: left;
}

.contact .link--decor2 {
  margin-top: 20px;
}

.contact .link--decor2:hover {
  color: #fff;
  text-decoration: none;
}

.contact-left {
  text-align: right;
}

footer {
  background: #505151;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 0 0 20px;
}

.grey-mask {
  position: absolute;
  right: 0;
  top: 0;
  width: 14%;
  height: 100%;
  background: #505151;
  z-index: 200;
}

.grey-decor-wrap {
  position: relative;
  z-index: 210;
  top: 0;
}

.grey-decor-wrap img {
  width: 100%;
}

.green-decor,
.grey-decor {
  position: absolute;
  right: -60px;
  bottom: -720px;
  pointer-events: none;
}

.grey-decor {
  left: 0;
  top: 0;
  width: 100%;
}

.green-decor {
  width: 400px;
}

.footer-ctn {
  display: flex;
  padding: 0 120px 0 40px;
  font-size: 1.6rem;
  position: relative;
  z-index: 5;
}

.footer-ctn a {
  color: #fff;
  transition: color .3s;
  font-weight: 600;
  display: block;
  margin: 4px 0;
}

.footer-ctn a:hover, .footer-ctn a:active {
  color: #ec3c57;
  text-decoration: none;
}

.footer-ctn__logo {
  flex: 0 0 20%;
  padding-top: 10px;
}

.footer-ctn__logo img {
  max-width: 60%;
}

.footer-ctn__nav {
  flex: 0 0 22%;
}

.footer-ctn__social {
  flex: 0 0 30%;
  text-align: right;
  padding: 40px 130px 0 0;
}

.footer-ctn__social a {
  display: inline-block;
  margin: 0 6px;
}

.footer-info {
  color: #fff;
  font-weight: 600;
}

.footer-info a {
  display: inline;
}

.branded-item {
  text-align: left;
  margin-bottom: 40px;
}

.branded-content {
  position: relative;
  z-index: 6;
  padding-bottom: 80px;
}

.branded-ico {
  margin: 15px 0 35px;
}

.branded-image {
  position: relative;
  margin-bottom: 80px;
}

.branded-image img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.branded-image .bd-right {
  text-shadow: 0 0 6px #000;
}

.branded-icon__svg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 25px 0;
  background: #3cd9b4;
  position: relative;
  display: block;
}

.branded-icon__svg img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.brand-page .branded-icon__svg {
  background: #5c60ff;
}

.brand-page .branded-icon__svg img {
  width: 40%;
}

.bd-right,
.bd-center {
  text-align: right;
  font-size: 3.4rem;
  color: #fff;
  font-weight: 600;
  padding-top: 400px;
}

.bd-center {
  font-size: 4.5rem;
  font-weight: 300;
  text-align: left;
  color: #4e4e4e;
  line-height: 1.2;
  padding: 600px 0 0 290px;
}

.bd-center strong {
  font-weight: 600;
}

.yt {
  text-align: center;
  padding-bottom: 80px;
}

.yt .content__title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.yt-slider {
  padding: 58px 0;
}

.yt-slider-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.yt-slide {
  position: relative;
  flex: 0 1 190px;
  text-align: center;
  margin: 40px;
}

.yt-img-slide {
  position: relative;
  z-index: 4;
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.not-home .right-nav__bg,
.not-home .full-section__socials {
  display: none;
}

.not-home .link--decor3 {
  color: #fff;
}

.not-home .link--decor3 svg:first-of-type path {
  fill: #fff;
}

.contact-page .right-nav__bg {
  display: block;
}

.contact-content {
  position: relative;
  z-index: 10;
}

.contact-item {
  padding-top: 30px;
  text-align: left;
  margin-bottom: 25px;
}

.contact-item:nth-of-type(2) {
  transform: translateY(-50px);
}

.contact-item:nth-of-type(2) .contact-item__category {
  color: #5c60ff;
}

.contact-item:nth-of-type(2) a:hover {
  color: #5c60ff;
}

.contact-item:nth-of-type(2) svg polygon {
  fill: #5c60ff;
}

.contact-item img {
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.contact-item:hover .image-person {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.contact-item svg {
  display: inline-block;
  vertical-align: middle;
}

.contact-item svg polygon {
  fill: #3cd9b4;
}

.contact-item__figure {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.contact-item__text {
  display: inline-block;
  vertical-align: top;
  font-size: 3rem;
  padding-left: 30px;
}

.contact-item__text span,
.contact-item__text a {
  display: block;
}

.contact-item__text a {
  color: #505151;
  font-size: 1.6rem;
  transition: color .2s;
}

.contact-item__text a:hover {
  color: #3cd9b4;
  text-decoration: none;
}

.contact-item__category {
  font-size: 1.6rem;
  color: #3cd9b4;
  text-transform: uppercase;
}

.image-bg {
  position: absolute;
  left: -15px;
  top: -15px;
}

.image-person {
  position: relative;
  z-index: 2;
  transition: all .3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.brand-page .header-green-mask {
  background: rgba(92, 96, 255, 0.7);
}

.faq-content {
  text-align: left;
  font-size: 1.6rem;
  margin-top: -150px;
  position: relative;
  z-index: 50;
  background: url(../images/faq-bg-arr_03.png) no-repeat;
}

.faq-content ul {
  margin-left: 35px;
}

.faq-category {
  font-size: 3.2rem;
  margin: 30px 0;
}

.faq-category--textpage {
  margin-top: 190px;
  text-align: center;
}

.faq-q {
  color: #ec3c57;
  cursor: pointer;
  padding: 30px 0 30px 60px;
  line-height: 1.1;
  font-weight: 600;
  border-top: 1px solid #d3d3d3;
  position: relative;
}

.faq-q svg {
  position: absolute;
  left: 15px;
  top: 24px;
  transition: transform .5s;
  transform: rotate(0deg);
}

.faq-item--decor-light .faq-q {
  color: #2cb494;
}

.faq-item--decor-light polygon,
.faq-item--decor-light path {
  fill: #2cb494;
}

.faq-item--decor-dark .faq-q {
  color: #5c60ff;
}

.faq-item--decor-dark polygon,
.faq-item--decor-dark path {
  fill: #5c60ff;
}

.faq-a {
  line-height: 1.5;
  padding: 5px 0 5px 80px;
  display: none;
}

.faq-a > div {
  margin-bottom: 30px;
}

.click-faq svg {
  transform: rotate(180deg);
}

.click-faq + .faq-a {
  display: block;
}

.faq-items .faq-item:first-of-type .faq-q {
  border: 0;
}

.footer-ctn__logo img {
  max-width: 110px;
}

.faq-items--textpage h4 {
  margin: 55px 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.9rem;
}

.faq-items--textpage h4 + div ol {
  margin-left: 42px;
}

.faq-items--textpage h4 + div li {
  margin: 21px 0;
}

#cookie-p {
  position: fixed;
  width: 100%;
  font-size: 1.3rem;
  padding: 20px 190px;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100000;
  opacity: 0;
  pointer-events: none;
  transition: all .8s ease 0s;
  color: #fff;
  text-align: center;
  transform: translateY(100%);
}

#cookie-p svg {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

#cookie-p.show_cookie {
  opacity: 1;
  transition: all .8s ease 1s;
  transform: translateY(0%);
  pointer-events: auto;
}

#cookie-p a {
  color: inherit;
  text-decoration: underline;
}

.cookie-p__x {
  background: none;
  padding: 0;
  transition: all .2s;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: 0;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  #grey-mask,
  #grey-mask--end {
    display: none;
  }
  .back-left-100 {
    left: 0;
  }
}

@media screen and (max-width: 1360px) {
  .main-nav__link--home img {
    width: 90px;
  }
  .faq-content {
    background-position: -80px 0px;
    background-size: 260px;
  }
  .main-nav {
    padding: 18px 5px 5px;
  }
  .main-nav a {
    margin: 0 9px;
  }
  .main-nav [class^="link--decor"] {
    transform: scale(0.8);
    margin: 0 -5px;
  }
  .header-content h1 {
    font-size: 4.5rem;
  }
  .header-content h2 {
    font-size: 2.3rem;
  }
  .header-content a {
    font-size: 2rem;
    padding: 9px 40px;
    border-radius: 22px;
  }
  .full-section__socials {
    right: 30px;
    bottom: 20px;
  }
  .full-section__socials a {
    margin-top: 15px;
  }
  #grey-mask,
  #grey-mask--end {
    display: none;
  }
  .join__cointainer-bg {
    left: -10%;
    width: 60%;
  }
  .el-top-layer {
    padding-top: 55px;
  }
  .el-top-layer img {
    max-width: 100%;
  }
  .register {
    margin-top: 0;
  }
}

@media screen and (max-width: 1280px) {
  .green-decor {
    width: 340px;
  }
  .not-home .header-content h1 {
    font-size: 2.4rem;
    line-height: 1.2;
  }
  .not-home .header-content h2 {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .main-nav a {
    font-size: 1.4rem;
    margin: 0 6px;
  }
  .register-bg {
    width: 100%;
    opacity: .2;
  }
}

@media screen and (max-width: 1170px) {
  .move-to-top {
    margin: 0 0 40px;
  }
  #cookie-p {
    font-size: .9rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 80%;
  }
  .nav-group {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    box-sizing: border-box;
    padding: 65px 20px;
    text-align: center;
    pointer-events: none;
    transition: transform .5s;
    transform: translateX(-100%);
  }
  .nav-group .right-nav__bg {
    display: none;
  }
  .nav-group nav {
    width: 90%;
    margin: 0 auto;
    position: static;
  }
  .nav-group .main-nav__link--home {
    display: none;
  }
  .nav-group .main-nav a {
    display: block;
    margin: 5px auto;
    font-size: 1.8rem;
  }
  .nav-group .main-nav a.main-nav__link--home {
    display: none;
  }
  .nav-group .non-active-lang a {
    margin: 0;
  }
  .nav-group .main-nav--decor {
    position: absolute;
    text-align: left;
    top: calc( 100vh - 250px);
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-group .main-nav--decor a {
    display: block;
    text-align: center;
  }
  .nav-group .main-nav--decor .link--decor3 {
    display: block;
    text-align: center;
  }
  .mobile-nav {
    display: block;
  }
  .main-nav__link--mobile img {
    width: 90px;
  }
  .mobile-nav-open .nav-group {
    transform: translateX(0);
    pointer-events: auto;
  }
  .link--decor3 {
    color: #fff;
  }
  .link--decor3 path {
    fill: #fff;
  }
  .header-content h1 {
    font-size: 3rem;
  }
  .header-content h2 {
    font-size: 1.8rem;
  }
  .header-content a {
    font-size: 1.5rem;
  }
  .join__cointainer-bg {
    display: none;
  }
  .join [class^='col-'] {
    margin-bottom: 55px;
  }
  .join__container,
  .register,
  .marketplace,
  .movies,
  .brands,
  .contact {
    padding: 50px 0;
  }
  .marketplace__container-content {
    text-align: center;
  }
  .marketplace {
    padding: 0 0 20px;
  }
  .why__container {
    padding-top: 130px;
  }
  .why__container img {
    max-width: 40%;
  }
  .why__container img[src$='arrow7.png'] {
    display: none;
  }
  .tab__contents {
    text-align: center;
  }
  .movies__gallery-description {
    margin: 0;
  }
  .movies__gallery-icons {
    margin: 0 0 30px;
  }
  .brands,
  .contact-left,
  .contact-right {
    text-align: center;
  }
  .contact-left {
    margin: 60px 0;
  }
  footer {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
    background: #505151;
  }
  .green-decor, .grey-mask {
    display: none;
  }
  .footer-ctn {
    padding-right: 40px;
  }
  .branded-image img {
    height: auto;
    position: static;
  }
  .bd-right,
  .bd-center {
    font-size: 2.1rem;
    color: #4e4e4e;
    font-weight: 600;
    padding-top: 0;
    text-align: center;
  }
  .bd-center {
    font-size: 3.2rem;
    padding: 0;
    font-weight: 300;
    margin: 20px 0;
  }
  .bd-center strong {
    font-weight: 600;
  }
  .not-home .header-content {
    width: 90%;
    text-align: center;
  }
  .not-home .header-content h1 {
    font-size: 1.8rem;
  }
  .not-home .header-content h2 {
    line-height: 1.2;
    font-size: 1.2rem;
  }
  .not-home .header-green-mask {
    width: 160%;
  }
  .not-home .full-section__mask {
    bottom: 0;
  }
  .branded-item {
    text-align: center;
  }
  .branded-icon__svg {
    margin-left: auto;
    margin-right: auto;
  }
  .contact-item:nth-of-type(2) {
    transform: translate(0);
  }
  .contact-item__figure {
    display: block;
    text-align: center;
    width: 190px;
    margin: 20px auto;
  }
  .contact-item__text {
    text-align: center;
    display: block;
  }
  .faq-content {
    background: none;
    margin-top: 0;
  }
  .faq-a {
    padding-left: 35px;
  }
  .not-home__decor {
    width: 70%;
  }
  .content__title {
    font-size: 2.2rem;
  }
  .content__txt {
    font-size: 1.3rem;
  }
  .grey-decor-wrap {
    display: none;
  }
  .footer-ctn__social {
    padding-right: 0;
  }
  .footer-info {
    text-align: center;
  }
  .grey-mask {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  .green-decor {
    display: none;
  }
  iframe {
    width: 90%;
    height: 240px;
    margin: 20px auto;
    display: block;
  }
  .header-content h1 {
    font-size: 2.5rem;
  }
  .header-content h2 {
    font-size: 1.6rem;
  }
  .header-content a {
    font-size: 1.4rem;
  }
  .footer-ctn {
    flex-direction: column;
  }
  .footer-ctn > div,
  .footer-ctn > nav {
    flex: 0 0 90%;
    margin: 15px 0;
    text-align: center;
  }
}

.movies,
.yt, .brands, .yt_gallery {
  display: none;
}
